body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  background-image: linear-gradient(to right, #749f5b, #c7ddb5);
  background-repeat: no-repeat;
  font-family: Verdana;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
}

input {
  outline: none;
  border: none;
  padding: 6px;
  background: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 25px;
}

::placeholder {
  color: rgb(198, 197, 197);
}

span {
  color: rgb(252, 111, 111);
  display: block;
  padding-top: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(237, 237, 237);
  font-size: 25px;
  padding: 8px;
  border: none;
  border-radius: 7px;
  display: inline-block;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c7ddb5;
  box-shadow: 0 0 10px 5px #c7ddb5;
  transform: scaleX(1.03);
}

p {
  font-size: 23px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  input {
    padding: 4px;
    font-size: 15px;
  }

  span {
    padding-top: 5px;
  }

  button {
    font-size: 15px;
    padding: 4px;
    margin-top: 3%;
  }

  p {
    font-size: 15px;
  }
}
