body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  background-image: linear-gradient(to right, #749f5b, #c7ddb5);
  background-repeat: no-repeat;
  font-family: Verdana;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
}

input {
  outline: none;
  border: none;
  padding: 6px;
  background: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 25px;
}

::placeholder {
  color: rgb(198, 197, 197);
}

span {
  color: rgb(180, 66, 66);
}

button {
  background-color: white;
  font-size: 25px;
  padding: 6px;
  border: none;
  border-radius: 7px;
  display: block;
  margin-top: 5%;
  cursor: pointer;
}
